# Python Basics
###### For Second Years

## Variables:
    - To stores a value
    - To change a value

In [1]:
g = 45
g

45

In [2]:
m = 4578
n = 12
n
m

4578

In [5]:
n,m

(12, 4578)

In [6]:
y,r = '34',23
y,r

('34', 23)

In [8]:
t,y,e = 45,80,'78'
t,y,e

(45, 80, '78')

In [9]:
print(t,y,e)

45 80 78

In [10]:
e

'78'

In [12]:
t = y = g = 10
print(t,y,g)

10 10 10

## Data types:
    - int -> only integer[Numbers] values
    - float -> decimal and Numbers
    - str -> ' or "
    - All Data Structures[list,tuple,set and Dictionary]

## Type()
    - To know the data type of a variable
    - Syntax:
        type(variablename)

In [11]:
g = '34'
print(g,type(g))

34 <class 'str'>

In [13]:
u,k,n,p = 45,78.00,'ramu','89'
print(u,type(u))
print(k,type(k))
print(n,type(n))
print(p,type(p))

45 <class 'int'>
78.0 <class 'float'>
ramu <class 'str'>
89 <class 'str'>