## Dictionaries
- Dictionaries are used to store date which is in the format of key and value
- combination of key and value we are calling as an item
- the pair of key and values are sepereated with ':'
- represented by {}
- dictionaries are mutable

In [1]:
dic={'key':100,2:200,'key3':'python'}
dic

{'key': 100, 2: 200, 'key3': 'python'}

In [2]:
## keys always should be unique
dic1={'k1':20,'k2':54,'k3':'ap','k2':'Tirupati'}
dic1

{'k1': 20, 'k2': 'Tirupati', 'k3': 'ap'}

In [3]:
dic1['k1']

20

In [4]:
dic1['k4']='AITS'
dic1

{'k1': 20, 'k2': 'Tirupati', 'k3': 'ap', 'k4': 'AITS'}

In [5]:
dic1['k1']='AP'
dic1

{'k1': 'AP', 'k2': 'Tirupati', 'k3': 'ap', 'k4': 'AITS'}

In [6]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [8]:
##fromkeys
d=('a','b','c')
d1=dict.fromkeys(d)
print(d1)
d2=dict.fromkeys(d,100)
print(d2)

{'a': None, 'b': None, 'c': None}
{'a': 100, 'b': 100, 'c': 100}

In [9]:
d2.update({'a':'Guntur'})
d2

{'a': 'Guntur', 'b': 100, 'c': 100}

In [11]:
dic1

{'k1': 'AP', 'k2': 'Tirupati', 'k3': 'ap', 'k4': 'AITS'}

In [13]:
dic1.pop('k1')

'AP'

In [14]:
dic1

{'k2': 'Tirupati', 'k3': 'ap', 'k4': 'AITS'}

In [15]:
dic1.popitem()
dic1

{'k2': 'Tirupati', 'k3': 'ap'}

In [16]:
dic1.setdefault('k3')

'ap'

In [17]:
dic1.setdefault('k5')

In [18]:
dic1

{'k2': 'Tirupati', 'k3': 'ap', 'k5': None}

In [19]:
dic1['k5']='course'

In [20]:
dic1

{'k2': 'Tirupati', 'k3': 'ap', 'k5': 'course'}

In [22]:
dic1.keys()

dict_keys(['k2', 'k3', 'k5'])

In [23]:
dic1.values()

dict_values(['Tirupati', 'ap', 'course'])

In [24]:
dic1.items()

dict_items([('k2', 'Tirupati'), ('k3', 'ap'), ('k5', 'course')])

In [25]:
for i in dic1.keys():
    print(i)

k2
k3
k5

In [27]:
for i in dic1.values():
    print(i)

Tirupati
ap
course

In [28]:
for i in dic1.items():
    print(i)

('k2', 'Tirupati')
('k3', 'ap')
('k5', 'course')

In [29]:
dic1

{'k2': 'Tirupati', 'k3': 'ap', 'k5': 'course'}

In [30]:
n=dic1.copy()
n

{'k2': 'Tirupati', 'k3': 'ap', 'k5': 'course'}

In [31]:
contact={}
def contactApp(name,number):
    if name not in contact:
        contact[name]=number
        print('contact added')
    else:
        print('name alredy existed')
    return contact

In [32]:
contactApp('swathi',9704561230)

contact added

{'swathi': 9704561230}

In [36]:
print(contactApp('mouni',8790342865))
print(contactApp('swathi',9704561289))

name alredy existed
{'swathi': 9704561230, 'mouni': 8790342865}
name alredy existed
{'swathi': 9704561230, 'mouni': 8790342865}

In [37]:
print(contactApp('Raju',1234456))

contact added
{'swathi': 9704561230, 'mouni': 8790342865, 'Raju': 1234456}

## Set
- set is collection of heteroginious data
-  set is unordered and unindexed 
- duplicate elements are not allowed
- set will delete or eliminate duplicate elements

In [39]:
s={1}
type(s)

set

In [40]:
s={1,2,3,4,1,2,3,1,2,'a',6.9,'1.04',1.30}
s

{1, '1.04', 1.3, 2, 3, 4, 6.9, 'a'}

In [41]:
print(s)

{1, 2, 3, 4, '1.04', 6.9, 1.3, 'a'}

In [42]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [43]:
s.add('name')
s

{1, '1.04', 1.3, 2, 3, 4, 6.9, 'a', 'name'}

In [44]:
s.pop()
s

{'1.04', 1.3, 2, 3, 4, 6.9, 'a', 'name'}

In [45]:
s.pop()
s

{'1.04', 1.3, 3, 4, 6.9, 'a', 'name'}

In [46]:
s.remove('a')
s

{'1.04', 1.3, 3, 4, 6.9, 'name'}

In [47]:
s.discard(6.9)
s

{'1.04', 1.3, 3, 4, 'name'}

In [48]:
s.discard(100)
s

{'1.04', 1.3, 3, 4, 'name'}

In [49]:
s.remove(123)
s

KeyError: 123

- difference
   - removes common elements in two sets and returns unique elements in first set
- syntax
  - set1.difference(set2)

In [53]:
s1={10,1,5,3,9}
s2={1,10,4,7}
s3=s1.difference(s2)
s4=s2.difference(s1)
print(s3)
print(s4)

{9, 3, 5}
{4, 7}

- difference_update()
  - it returns the new updated set after making the difference between two sets
  - change the original set
- syntax
   - set1.difference_update(set2)

In [56]:
a1={1,2,3,4,5}
a2={1,2,78,45,32}
a1.difference_update(a2)
a1

{3, 4, 5}

### union

In [57]:
d={23,56,12,11}
e={67,88,11,22}
d.union(e)
d

{11, 12, 23, 56}

- intersection
  - returns the common elements in two sets
- intersection_update()
  - removes the elements in one set which are not present in another set
  - returns the updated set

In [59]:
b={12,34,67,89,75}
c={12,56,78,89,33,77,67}
res=b.intersection(c)
res

{12, 67, 89}

In [60]:
n={12,34,67,89,75}
m={12,56,78,89,33,77,67}
n.intersection_update(m)
n

{12, 67, 89}

- isdisjoint()
  - returns True if elements in set1 does not matches with elements in set2
  - else return False

In [61]:
a={1,2,3,4,5,6}
b={7,8,9,10}
c={1,2,3,4,5}
r1=a.isdisjoint(b)
r2=c.isdisjoint(a)
print(r1)
print(r2)

True
False

- issubset()
  - returns True if all elements in set1 matches with elements in set2
  - else return False

In [62]:
g={1,2,3,4,5,6,7}
h={1,2,3}
j={56,78,98}
rs=h.issubset(g)
rs1=j.issubset(g)
print(rs)
print(rs1)

True
False

- symmetric_difference()
  - it returns unique elements in two sets
- symmetric_difference_update()
  - it returns the new updated set after making the symmetric_difference between two sets

In [63]:
f={1,3,2,4,5,6,7}
l={1,3,2,12,34,5}
t=f.symmetric_difference(l)
print(t)

{34, 7, 4, 6, 12}

In [64]:
v={1,3,2,4,5,6,7}
y={1,3,2,12,34,5}
v.symmetric_difference_update(y)
print(v)

{34, 4, 6, 7, 12}

 ## Tuple
 - representing tuple by ()
 - ordered 
 - immutable in nature
 - it allows duplicate elements

In [65]:
t=(1,'hello',6.9,1)
t

(1, 'hello', 6.9, 1)

In [66]:
t[0]

1

In [67]:
t[-1]

1

In [69]:
#example for immutable
t[0]='AP'
t

TypeError: 'tuple' object does not support item assignment

In [70]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [71]:
t

(1, 'hello', 6.9, 1)

In [72]:
t.count(1)

2

In [73]:
t.index('hello')

1

In [74]:
n=list(t)
n.pop()
z=tuple(n)
z

(1, 'hello', 6.9)

In [75]:
m=list(t)
m.append('name')
x=tuple(m)
x

(1, 'hello', 6.9, 1, 'name')