## Good Afternoon to All..

## Keyword Argument:

In [2]:
def ft(a,k):
    print("Entered name is: {} and your age is: {}".format(k,a))
    return

nam = input("Enter a name: ")
ag = int(input("Enter your age: "))
ft(n=nam,a=ag)

Enter a name: tarun
Enter your age: 23

TypeError: ft() got an unexpected keyword argument 'n'

In [4]:
def gy(**h):
    print(h,type(h))
    return

gy(ag=23,na="suresh",sal=45000)

{'ag': 23, 'na': 'suresh', 'sal': 45000} <class 'dict'>

## Variable Length Argument

In [7]:
def gwr(a,*u):
    print(a,type(a))
    print(u,type(u))
    return

gwr(12,45,'ramesh',120.255415,450)

12 <class 'int'>
(45, 'ramesh', 120.255415, 450) <class 'tuple'>

In [8]:
def nte(d,*h,**q):
    print(d,type(d))
    print(h,type(h))
    print(q,type(q))
    return

nte('tarun',45,78,12.0021,'sirisha',name="kalyan",sal=4500,age=45)

tarun <class 'str'>
(45, 78, 12.0021, 'sirisha') <class 'tuple'>
{'name': 'kalyan', 'sal': 4500, 'age': 45} <class 'dict'>

In [10]:
def nte(d,*h,**q):
    print(d,type(d))
    print(h,type(h))
    print(q,type(q))
    return

nte(78,'yamini','tarun',45,78,12.0021,'sirisha',name="kalyan",sal=4500,age=45)

78 <class 'int'>
('yamini', 'tarun', 45, 78, 12.0021, 'sirisha') <class 'tuple'>
{'name': 'kalyan', 'sal': 4500, 'age': 45} <class 'dict'>